body {
    background-color: 
    #cccccc;
    background-image: linear-gradient(rgb(40, 24, 69), rgb(236, 86, 198));
}
.row {    
    height: 5em;
}

#frame {
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#340732;
    margin: auto;
    text-align: center;
    width: 30em;
    height: 35em;
}

#calc-display{
    display: block;
    font-family: 'Kurale', serif;
    font-size:60px;
    color: white;
    width: 100%;
    height: 100%;
}

button {
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 20px;
    background-color:#d429ad;
    color: white;
    font-family: 'Kurale', serif;
}

.number-button, .operation-button, .equals-button {
    width: 20%;
    height: 90%;
    margin: 0.2em;
    font-size: x-large;
}

.reset-button {
    width: 30%;
    height: 50%;
    margin: 0.2em;
    font-size: x-large;
}

.reset-button:hover {
    transform: skew(-10deg);
}




